<div class="container">
    <h1>Produtos Disponíveis</h1>
    <div class="wraper">

        <div class="produto">    
            <div class="image">
                <img src="https://images.unsplash.com/photo-1607868894760-4241c06dd023?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"/>
            </div>
            <div class="box-produto">
                <h1>Blusa super estilosa</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <a [routerLink]="['/contato']" >Comprar!</a>
            </div>
        </div>

        <div class="produto">    
            <div class="image">
                <img src="https://images.unsplash.com/photo-1605749429086-299a5c64f9f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"/>
            </div>
            <div class="box-produto">
                <h1>Blusa super estilosa</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <a [routerLink]="['/contato']" >Comprar!</a>
            </div>
        </div>

        <div class="produto">    
            <div class="image">
                <img src="https://images.unsplash.com/photo-1605207376207-0d7269673b6d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"/>
            </div>
            <div class="box-produto">
                <h1>Blusa super estilosa</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <a [routerLink]="['/contato']" >Comprar!</a>
            </div>
        </div>
    </div>

    <div class="wraper">

        <div class="produto">    
            <div class="image">
                <img src="https://images.unsplash.com/photo-1606434468484-50ba18c9c840?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"/>
            </div>
            <div class="box-produto">
                <h1>Blusa super estilosa</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <a [routerLink]="['/contato']" >Comprar!</a>
            </div>
        </div>

        <div class="produto">    
            <div class="image">
                <img src="https://images.unsplash.com/photo-1605407869548-958d58b7cebc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"/>
            </div>
            <div class="box-produto">
                <h1>Blusa super estilosa</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <a [routerLink]="['/contato']" >Comprar!</a>
            </div>
        </div>

        <div class="produto">    
            <div class="image">
                <img src="https://images.unsplash.com/photo-1605207376378-3abe5590d6eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"/>
            </div>
            <div class="box-produto">
                <h1>Blusa super estilosa</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <a [routerLink]="['/contato']" >Comprar!</a>
            </div>
        </div>
    </div>
</div>