footer {
    background: mediumslateblue;
    margin-top: 8.5%;
    height: 40px;
    text-align: center;
    padding: 10px 0;

}
footer .container a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}